footer {
  height: 200px;
  background-color: var(--cor-footer);
  padding-top: 40px;
  justify-items: center;
}

#contatos .redes-sociais {
  justify-self: center;
  padding-top: 10px;
}

#contatos .redes-sociais a {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
}
  
#contatos .outer-shadow {
  box-shadow: 3px 3px #222327, -3px -3px 3px #332f2f;
}