#home {
    height: 100vh;
    align-content: center;
    background-color: var(--cor-primaria);
}

.sub-titulo {
    font-family: var(--font-extra);
    margin-bottom: 20px;
}

.texto {
    max-width: 100vh;
}

.foto img {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
}

.redes-sociais {
    justify-self: self-start;
    padding-top: 10px;
}
  
.redes-sociais a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
}
    
.outer-shadow {
    box-shadow: 3px 3px #1b1b1b, -3px -3px 3px #5f5353;
}

@media (max-width: 1005px) {
    .centralizado {
        flex-direction: column;
        gap: 50px;
        padding: 0 20px;
        align-items: center;
        margin: 0 auto;
    }

    .foto {
        margin: 0 auto;
        max-width: 70%;
    }

    .foto img {
        width: 250px;
        height: 250px;
    }

    .texto {
        max-width: 90vw;
    }
}

@media (max-width: 300px) {
    .centralizado {
        gap: 20px;
        padding: 0 10px;
    }

    .info {
        font-size: 0.9rem;
        text-align: center;
    }

    .foto img {
        width: 150px;
        height: 150px;
    }

    .sub-titulo {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .texto {
        max-width: 90vw;
        font-size: 0.85rem;
        padding: 0 10px;
    }
}