#projetos img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#projetos img:hover {
    object-fit: scale-down;
}

#projetos {
    background-color: var(--cor-primaria);
    min-height: 100vh;
    height: 100%;
    padding: 50px 40px;
}

#projetos ul {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.titulo {
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.texto-contato {
    padding-top: 80px;
}

.texto-contato a:hover {
    color: var(--cor-texto);
}

.btn-mais-projetos {
    padding-top: 50px;
    justify-content: center;
}

.btn-projetos {
    width: 120px;
    height: 45px;
    color: var(--cor-texto);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
  
.btn-projetos:hover {
    background-color: #F11A7B;
    color: #FFFFFF;
}

.text-align {
    text-align: start;
    max-width: 100%;
}

.container ul li h2 {
    font-weight: 500;    
    position: absolute;      
    left: 20px;
    bottom: 10px;
    color: var(--cor-branca);
}

.container ul li h2:hover {
    color: var(--cor-preta);
}

.div-img {
    position: relative;
}

@media(max-width: 830px){
    .container ul li h2 {
        font-size: 1.2rem;
        padding-left: 10px;
    }
}

@media(max-width: 600px){
    #projetos {
        padding: 20px 0;
    }

    .btn-projetos {
        width: 100px;
        height: 40px;
        font-size: 0.9rem;
    }

    .div-descricao {
        padding: 0 15px;
    }

    .container ul li h2 {
        font-size: 1rem;
        left: 10px;
        bottom: 5px;
    }
}