img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#projetos {
    background-color: var(--cor-primaria);
    min-height: 100vh;
    height: 100%;
    padding: 50px 0;
}

#projetos ul {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.titulo {
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.texto-contato {
    padding-top: 80px;
}

.texto-contato a:hover {
    color: var(--cor-texto);
}

.btn-mais-projetos {
    padding-top: 50px;
    justify-content: center;
}

.btn-projetos {
    width: 120px;
    height: 45px;
    color: var(--cor-texto);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
  
.btn-projetos:hover {
    background-color: #F11A7B;
    color: #FFFFFF;
}

.div-descricao {
    padding: 0 25px;
}

.text-align {
    text-align: start;
    max-width: 430px;
    justify-self: center;
}

.container ul li h2 {
    font-weight: 500;    
    position: absolute;      
    padding-left: 40px;
    padding-bottom: 10px;
    bottom: 0;
}

.div-img {
    position: relative;
}

@media(max-width: 1260px){
    .container ul li h2 {
        padding-left: 115px;
    }
}

@media(max-width: 1160px){
    .container ul li h2 {
        padding-left: 85px;
    }
}

@media(max-width: 1000px){
    .container ul li h2 {
        padding-left: 55px;
    }
}

@media(max-width: 900px){
    .container ul li h2 {
        padding-left: 35px;
    }
}

@media(max-width: 830px){
    .container ul li h2 {
        padding-left: 225px;
    }
}