#tecnologias {
    background-color: var(--cor-secundaria);
    min-height: 100vh;
    height: 100%;
    padding: 0 200px 50px;
    justify-items: center;
}

.img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#tecnologias h2 {
    padding: 70px 0;
}

.div-tec ul {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
    grid-gap: 40px;
    text-align: center;
}